/**
 * global.css
 */

body {
	font-family: Tahoma, sans-serif;
	font-size: 14px;
	color: #444444;
	text-decoration: bold;
	background-color: #FFFFFF;	
	margin-left: 10%;
	margin-right: 10%;
}

h1, h2 {
	text-align: center;
}

input, select, textarea {
	background-color: white;
	color: black;
	border: 1px solid #cccccc;
}

input[type="submit"], input[type="reset"] {
	background-color: #f0f0f9;
	border: 1px solid #333333;
	-moz-border-radius: 5px;
}

a:visited {
	background-color: transparent;
	color: purple;
	text-decoration: underline;
}

a:link {
	background-color: transparent;
	color: blue;
	text-decoration: underline;
}

a:hover {
	color: #0082C0;
}

a#banner {
	background-color: transparent;
	text-decoration: none;
}

a#banner img {
	border: none;
}

/* draft, sample */
div#draft {
	color: #AA0000;
	border: solid 1px #AA0000;
	padding: 1em;
}

/* application form */
div#footer,
div#langbar {
  padding: 1em 1em 0 1em;
  border: none;
  text-align: right;
}

div#footer {
  padding-bottom: 1em;
}

ul#footerlinks,
ul.langlist {
  list-style: none;
  padding-left: 0;
}

ul#footerlinks li,
ul.langlist li {
  display: inline;
  margin: 0;
}

ul#footerlinks li:after,
ul.langlist li:after {
 content: '·';
 padding: 0 .5em;
}

ul#footerlinks li.last:after,
ul.langlist li.last:after {
 content: '';
}

div.faq {
  text-align: center;
  border: none;
}

div.faq a {
  text-decoration: none;
  padding: .5em 1em;
  font-weight: bold;
}

ul.appform {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

ul.appform li {
  list-style-type: none;
  vertical-align: middle;
  margin: .8em 0;
}

ul.single li {
  margin: .4em 0;
}

.fieldWithErrors,
.fieldWithErrors label {
        color: #AA0000;
        font-weight: bold;
}

.fieldWithErrors input, .fieldWithErrors select, .fieldWithErrors textarea {
	border: 1px solid red;
}

div.errorbox,
div.errorExplanation {
	color: #AA0000;
	font-weight: bold;
	border: 1px solid #AA0000;
}

ul.hnav {
	text-align: center;
}

ul.hnav:before, ul.hnav:after {
  content: "—";
}

ul.hnav li {
  display: inline;
}

ul.hnav li:before {
  content: "· ";
}

ul.hnav li:first-child:before {
  content: "";
}

#dump {
	display: none;
}
tr.oddrow {
     background-color: #f3f3f3;
}
tr.evenrow {
     background-color: #eef8ee;
}


div.notice {
	border: none;
	background-color: #ff6666;
	width: 95%;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: .2em;
	text-align: center;
	font-size: 125%;
	color: #303030;
	margin: 1.7em auto;
	line-height: 1.5em;
}

table#scholresults thead tr td{
border: 1px solid darkblue;
background-color: lightyellow;
}

table#scholresults tbody tr td{
border: 1px solid darkblue;
}

.required {
	font-weight: bold;
	color: #000;
}
.required:after {
	content: ' *';
}

#appresponse {
  margin-bottom: 6em;
}

#submit { 
  float: left;
  margin: 1.5em;
}

div#contact p {
  text-align: center;
}
