div#logo h1 {
  margin-bottom: 0;
}

div#rank-box {
  position: fixed;
  top: 18px; 
  right: 2%; 
  padding: .6em .5em .5em;
  text-align: center; 
  background-color: #ccc; 
  border: solid 1px #333;
  margin-bottom: 16px;
  width: 450px;
  overflow: hidden;
}

div#rank-box table {
  font-size: 16px; 
  margin: .5em .2em 0 1em;
}

div#rank-box table tr td {
  padding-right: .4em;
  text-align: left;
}

div#rank-box h2 {
  margin: .5em 1em;
}

#rankingstoggle {
  font-size: 12px;
  padding-left: 1em;
}

div#right {
  float: right;
  width: 35%;
}

div#notes-box {
  padding: .6em .5em .5em;
  margin: .5em .2em 0 1em;
  text-align: left;
}

div#notes-box ul {
  float: right;
  text-align: right;
  list-style: none;
  margin-bottom: 5px;
}

div#notes-box ul li {
  margin-bottom: 0;
}

ul.appview {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

ul.appview li {
  list-style-type: none;
  vertical-align: top;
}

#view-name {
  font-size: 200%;
}

table#past-wikimania,
table#past-wikimania tr td,
table#past-wikimania tr th {
  border: solid 1px #000;
}

#notes-box ul li #save,
#stamp {
  width: 10em;
}

textarea#notes {
  width: 30em; 
  height: 15ex;
}

ul#terms-agree {
  list-style: none;
  float: right; 
  margin-right: 1em; 
  border: 1px #33dd88 solid; 
  width: 20em;
  padding: .5em;
}

ul#terms-agree li {
  padding: .5em 0;
  font-weight: bold;
}

table#country-grid {
  width: 100%;
}

table#country-grid tr th {
  text-align: left;
}

div#country-grid-return {
  font-size: 0.84em;
  padding: 1em 0;
}

#tabsnav {
  border-bottom: solid 1px #ccc;
  margin-bottom: 20px;
}

ul#review-tabs {
  list-style: none;
  padding-left: 0;
  margin-top: 25px;
  margin-bottom: 0px;
  color: #4C4C4C;
}

ul#review-tabs li {
  display: inline;
  margin: 0;
  margin-top: -1px;
  color: #4C4C4C;
  float: left;
  margin: 0 0 0 5px;
  padding: 6px 8px;
  overflow: hidden;
}

ul#review-tabs li a {
  text-decoration: none;
  color: #808080;
  font: 15px Arial, Helvetica, Sans-serif;
  font-weight: bold;
  text-shadow: 0 1px 0 #FFF;
  overflow: hidden;
}

ul#review-tabs li a:active,
ul#review-tabs li:hover {
  color: #0082C0;
}

ul.sublinks {
  list-style: none;
  color: #565656;
  font-size: 14px;
  margin: 0px 0px 20px 10px;
}

ul.sublinks li {
  display: inline;
  margin-right: 8px;
}

ul.pagerlinks {
  list-style: none;
  font-size: 12px;
  margin: 10px auto;
  text-align: center;
}

ul.pagerlinks li {
  display: inline;
  margin-right: 1px;
}

ul.pagerlinks li a {
  color: #666;
  padding: .4em;
  border: solid 1px #ddd;
  text-decoration: none;
}

table.grid {
  width: 100%;
  table-layout:fixed;
  overflow:hidden;
}

table.grid tr td,
table.grid tr th {
  padding: .4em;
  font-size: 14px;
}

table.grid tr th {
  text-align: left;
  font-weight: bold;
}

table#view-scorings th, 
table#view-scorings td {
  padding: .3em;
  text-align: left;
  border: solid 1px #ccc;
}

table#view-scorings th {
  font-weight: bold;
}
